page-login {
  ion-content{
    background:  linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(15, 46, 0, 0.95)
    ), url("../assets/imgs/background_login3.jpg");
    background-attachment: fixed;
    background-position: center;
  }
}
